{% extends 'base.html' %}
{% load static %}
{% block title %}Редактирование чата{% endblock %}

{% block header %}
 <nav>
     <div class="nav__find">
         <form method="GET" action="{% url 'index' %}">
             <label class="find__title">&#128270;</label>
             <input type="text" class="find__input" name="find" placeholder="Найти..">
         </form>
     </div>
     <div class="nav__username">Ваше имя: {{request.user}}</div>
     <div class="nav__exit">
         <a href="{% url 'log-out' %}" class="nav__exit"> Выйти
         <?xml version="1.0" ?><svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title/><g id="logout"><line class="cls-1" x1="15.92" x2="28.92" y1="16" y2="16"/><path d="M23.93,25v3h-16V4h16V7h2V3a1,1,0,0,0-1-1h-18a1,1,0,0,0-1,1V29a1,1,0,0,0,1,1h18a1,1,0,0,0,1-1V25Z"/><line class="cls-1" x1="28.92" x2="24.92" y1="16" y2="20"/><line class="cls-1" x1="28.92" x2="24.92" y1="16" y2="12"/><line class="cls-1" x1="24.92" x2="24.92" y1="8.09" y2="6.09"/><line class="cls-1" x1="24.92" x2="24.92" y1="26" y2="24"/></g></svg>
     </a>
     </div>
 </nav>
{% endblock %}

{% block content %}
<div class="create-chat">
  <a href="{% url 'index' %}" class="return"> < </a>
  <div class="create-chat__form">
      <form method="POST" action="">
        {% csrf_token %}
          <label>Название чата:</label>
          <input type="text" name="name" class="input-border">
          <br>
          <label>Краткое описание:</label>
          <textarea name="text" style="width:70vw; height:10vh; border-radius: 10px;"></textarea>
          <input type="submit" value="Подтвердить" class="btn"/>
      </form>
  </div>
</div>
{% endblock content %}