{% extends 'base.html' %}
{% load static %}
{% block title %}Список чатов{% endblock %}

{% block header %}
 <nav>
     <div class="nav__find">
         <form method="GET" action="{% url 'index' %}">
             <label class="find__title">&#128270;</label>
             <input type="text" class="find__input" name="find" placeholder="Найти..">
         </form>
     </div>
     <div class="nav__username">Ваше имя: {{request.user}}</div>
     <div class="nav__exit">
         <a href="{% url 'log-out' %}" class="nav__exit"> Выйти
         <?xml version="1.0" ?><svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title/><g id="logout"><line class="cls-1" x1="15.92" x2="28.92" y1="16" y2="16"/><path d="M23.93,25v3h-16V4h16V7h2V3a1,1,0,0,0-1-1h-18a1,1,0,0,0-1,1V29a1,1,0,0,0,1,1h18a1,1,0,0,0,1-1V25Z"/><line class="cls-1" x1="28.92" x2="24.92" y1="16" y2="20"/><line class="cls-1" x1="28.92" x2="24.92" y1="16" y2="12"/><line class="cls-1" x1="24.92" x2="24.92" y1="8.09" y2="6.09"/><line class="cls-1" x1="24.92" x2="24.92" y1="26" y2="24"/></g></svg>
     </a>
     </div>
 </nav>
{% endblock %}

{% block content %}
  {% if find != "" %}
  <a href="{% url 'index' %}" class="return"> < </a>
  <br>
  {% endif %}

  <div class="menu">
    <a href="{% url 'create-chat' %}" class="menu__chat-create">Создать чат</a>
   {% for chat in fix %}
      <div class="menu__chat">
          <a href="{% url 'chat' chat.name %}"> {{chat.name}}</a>
          <div> # {{chat.id}}</div>
          <p class="chat__author">Автор:{{chat.author.username}}</p>
          <div class="create-delete">
            <a href="{% url 'fix-chat' chat.name %}" class="fix">&#9733</a>
              {% if request.user == chat.author %}
                <a href="{% url 'chat-up' chat.name %}">&#9998</a>
                <a href="{% url 'delete-chat' chat.name %}">✘</a>
              {% endif %}
          </div>
      </div>
    {% endfor %}
    <hr>
    {% for chat in chats %}
      <div class="menu__chat">
          <a href="{% url 'chat' chat.name %}"> {{chat.name}}</a>
          <div> # {{chat.id}}</div>
          <div class="chat__author">Автор:{{chat.author.username}}</div>
     <div class="create-delete">
     <a href="{% url 'fix-chat' chat.name %}" class="fix">&#9734</a>
      {% if request.user == chat.author %}
          <a href="{% url 'chat-up' chat.name %}">&#9998</a>
          <a href="{% url 'delete-chat' chat.name %}">✘</a>
      {% endif %}
     </div>
     </div>
    {% endfor %}

  </div>
{% endblock content %}